{{/*
  Template for Section block

  @author @regisphilibert

  @context Map
        - Page [.Page]
        - String [.string]

  @access public

  @TODO: optimize by using particalCached on func/ParseString
  @TODO: Allow Forestry FMT field to allow editors to add Screenshot themselves.
*/}}
{{ with .block }}
  <div class="">
    <div class="text-2xl mb-4">
        {{ partial "func/ParseString.html" (dict "Page" $.Page "string" .block_title) }}
    </div>
    {{ with .block_copy }}
      <div class="mb-4">
          {{ partial "func/ParseString.html" (dict "Page" $.Page "string" .) | markdownify }}
      </div>
    {{ end }}
  </div>
{{ end }}
  

{{ define "block_table" }}
  {{ $tables := partialCached "func/GetPage" "tables" "tables" }}
  {{ with partialCached "func/GetPageResource" (slice $tables .) "tables" . }}
    {{ .Content }}
  {{ end }}
{{ end }}

{{ define "block_links" }}
  <div class="sm:flex sm:flex-wrap sm:-mx-5 mt-10">
    {{ $Page := .Page }}
    {{ range .links }}

      <div class="block__button mb-5 sm:mb-0 sm:px-5">
        {{/* TODO: Rethink the attribution of "links" to state to generate CTAs. */}}
        {{ $link := partial "func/ParseString.html" (dict "Page" $Page "string" .link) }}
        {{ $external := partialCached "func/IsExternalURL" $link $link }}
        <a 
          href="{{ $link }}"
          {{ if $external }} target="_blank" {{ end }}
          class="fe-Button fe-Button--primary fe-Button--block text-base lg:min-w-cta"
        >
          {{ .title }}
        </a>
      </div>
    {{ end }}
    </div>
{{ end }}